* {
   box-sizing: border-box;
 font-family: Tahoma;

}

html{

   background: linear-gradient(to right, #36d1dc, #5b86e5); 
/*background: linear-gradient(#007991, #78ffd6); */
min-height: 100vh;
font-size: 20px;

}


.container > div{

color: black;
/*background-color: rgba(0, 0, 255, 0.2); */
border: 1px  #fff;
padding: 20px;
margin: 10px;
text-align: center;


}


.button{

  width: 200px;
  height:30px;
  background-color: #e67e22;
  font-weight: 700;
}
input{

width: 750px;
height: 50px;
font-family: Tahoma;
font-size: 20px;

}

#header {

  /*background-image: url("images.png");*/
  /*background: linear-gradient(to right, #00467f, #a5cc82); */
   background: linear-gradient(to right, #36d1dc, #5b86e5);  

}